.paper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    width: 500px;
}

.select {
    padding-left: 10px;
}

.inputBase {
    flex: 1;
    padding-left: 12px;
}

.divider {
    height: 24px;
}