.DateRangePicker_picker {
  z-index: 9;
}

hr {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.MuiOutlinedInput-inputMarginDense{
  padding-top: 9px !important;
  padding-bottom: 8.5px !important;
}