.who-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    
    .input-who-am-i {
        &:focus {
            outline: none;
        }
    }
    .are-you-sure-submit {
        margin-top: 48px;
        font-size: 2em;
    }
}